.contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contactUsForm {
    background-color: white;
    padding: 40px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.258);
    transition: all 0.3s ease;
}

.contactUsForm h1 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.258);
}

.inputField {
    margin-bottom: 20px;
    display: flex;
}

.inputField input,
.inputField textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.inputField textarea {
    resize: none;
    scrollbar-width: thin;
}

.contactSubmitBtn:hover {
    background-color: #0056b3 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.258) !important;
}

@media screen and (max-width: 768px) {
    .contactUs {
        background-color: white;
        padding: 10px;
    }

    .contactUsForm {
        width: 100%;
        max-width: 400px;
        padding: 5px;
    }
}