.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.signInForm {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    text-align: center;
    align-items: center;
    padding: 40px;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.258);
    transition: all 0.3s ease;
}

.signInForm h1 {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.258);
}

.inputField {
    align-items: center;
}

.icon {
    margin-right: 1em;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .signIn {
        background-color: white;
        padding: 10px;
    }

    .signInForm {
        width: 100%;
        max-width: 400px;
        padding: 5px;
    }
}